<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://www.linkedin.com/in/sharanchiranjeevulu-mekala-2b7486241?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://wa.me/+919493925966" target="_blank"
        ><i class="fa-brands fa-whatsapp"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy;&nbsp;Book Store</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
